<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>

	<key>BBLMLanguageDisplayName</key>
	<string>Graphviz</string>
	<key>BBLMLanguageCode</key>
	<string>Gvz!</string>

	<key>BBLMColorsSyntax</key>
	<true/>

	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.gv</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.dot</string>
		</dict>
	</array>

	<key>BBLMPreferredFilenameExtension</key>
	<string>gv</string>

	<key>BBLMSupportsTextCompletion</key>
	<true/>

	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>

	<key>BBLMIsCaseSensitive</key>
	<true/>

	<key>BBLMReferenceSearchURLTemplate</key>
	<string>https://graphviz.org/docs/attrs/__SYMBOLNAME__/</string>

	<key>BBLMScansFunctions</key>
	<true/>

	<key>BBLMKeywordList</key>
	<array>
		<string>node</string>
		<string>edge</string>
		<string>graph</string>
		<string>digraph</string>
		<string>subgraph</string>
		<string>strict</string>
	</array>

	<key>BBLMPredefinedNameList</key>
	<array>
		<string>_background</string>
		<string>area</string>
		<string>arrowhead</string>
		<string>arrowsize</string>
		<string>arrowtail</string>
		<string>bb</string>
		<string>bgcolor</string>
		<string>colorList</string>
		<string>center</string>
		<string>charset</string>
		<string>class</string>
		<string>clusterrank</string>
		<string>color</string>
		<string>colorList</string>
		<string>colorscheme</string>
		<string>comment</string>
		<string>compound</string>
		<string>concentrate</string>
		<string>constraint</string>
		<string>Damping</string>
		<string>decorate</string>
		<string>defaultdist</string>
		<string>dim</string>
		<string>dimen</string>
		<string>dir</string>
		<string>diredgeconstraints</string>
		<string>distortion</string>
		<string>dpi</string>
		<string>edgehref</string>
		<string>edgetarget</string>
		<string>edgetooltip</string>
		<string>edgeURL</string>
		<string>epsilon</string>
		<string>esep</string>
		<string>fillcolor</string>
		<string>colorList</string>
		<string>fixedsize</string>
		<string>fontcolor</string>
		<string>fontname</string>
		<string>fontnames</string>
		<string>fontpath</string>
		<string>fontsize</string>
		<string>forcelabels</string>
		<string>gradientangle</string>
		<string>group</string>
		<string>head_lp</string>
		<string>headclip</string>
		<string>headhref</string>
		<string>headlabel</string>
		<string>headport</string>
		<string>headtarget</string>
		<string>headtooltip</string>
		<string>headURL</string>
		<string>height</string>
		<string>href</string>
		<string>id</string>
		<string>image</string>
		<string>imagepath</string>
		<string>imagepos</string>
		<string>imagescale</string>
		<string>inputscale</string>
		<string>label</string>
		<string>label_scheme</string>
		<string>labelangle</string>
		<string>labeldistance</string>
		<string>labelfloat</string>
		<string>labelfontcolor</string>
		<string>labelfontname</string>
		<string>labelfontsize</string>
		<string>labelhref</string>
		<string>labeljust</string>
		<string>labelloc</string>
		<string>labeltarget</string>
		<string>labeltooltip</string>
		<string>labelURL</string>
		<string>landscape</string>
		<string>layer</string>
		<string>layerlistsep</string>
		<string>layers</string>
		<string>layerselect</string>
		<string>layersep</string>
		<string>layout</string>
		<string>len</string>
		<string>levels</string>
		<string>levelsgap</string>
		<string>lhead</string>
		<string>lheight</string>
		<string>lp</string>
		<string>ltail</string>
		<string>lwidth</string>
		<string>margin</string>
		<string>maxiter</string>
		<string>mclimit</string>
		<string>mindist</string>
		<string>minlen</string>
		<string>mode</string>
		<string>model</string>
		<string>mosek</string>
		<string>newrank</string>
		<string>nodesep</string>
		<string>nojustify</string>
		<string>normalize</string>
		<string>notranslate</string>
		<string>nslimit</string>
		<string>nslimit1</string>
		<string>ordering</string>
		<string>orientation</string>
		<string>outputorder</string>
		<string>overlap</string>
		<string>overlap_scaling</string>
		<string>overlap_shrink</string>
		<string>pack</string>
		<string>packmode</string>
		<string>pad</string>
		<string>page</string>
		<string>pagedir</string>
		<string>pencolor</string>
		<string>penwidth</string>
		<string>peripheries</string>
		<string>pin</string>
		<string>pos</string>
		<string>quadtree</string>
		<string>quantum</string>
		<string>rank</string>
		<string>rankdir</string>
		<string>ranksep</string>
		<string>ratio</string>
		<string>rects</string>
		<string>regular</string>
		<string>remincross</string>
		<string>repulsiveforce</string>
		<string>resolution</string>
		<string>root</string>
		<string>rotate</string>
		<string>rotation</string>
		<string>samehead</string>
		<string>sametail</string>
		<string>samplepoints</string>
		<string>scale</string>
		<string>searchsize</string>
		<string>sep</string>
		<string>shape</string>
		<string>shapefile</string>
		<string>showboxes</string>
		<string>sides</string>
		<string>size</string>
		<string>skew</string>
		<string>smoothing</string>
		<string>sortv</string>
		<string>splines</string>
		<string>start</string>
		<string>style</string>
		<string>stylesheet</string>
		<string>tail_lp</string>
		<string>tailclip</string>
		<string>tailhref</string>
		<string>taillabel</string>
		<string>tailport</string>
		<string>tailtarget</string>
		<string>tailtooltip</string>
		<string>tailURL</string>
		<string>target</string>
		<string>tooltip</string>
		<string>truecolor</string>
		<string>URL</string>
		<string>vertices</string>
		<string>viewport</string>
		<string>voro_margin</string>
		<string>weight</string>
		<string>width</string>
		<string>xdotversion</string>
		<string>xlabel</string>
		<string>xlp</string>
		<string>z</string>

		<string>assembly</string>
		<string>box</string>
		<string>box3d</string>
		<string>cds</string>
		<string>circle</string>
		<string>component</string>
		<string>cylinder</string>
		<string>diamond</string>
		<string>doublecircle</string>
		<string>doubleoctagon</string>
		<string>egg</string>
		<string>ellipse</string>
		<string>fivepoverhang</string>
		<string>folder</string>
		<string>hexagon</string>
		<string>house</string>
		<string>insulator</string>
		<string>invhouse</string>
		<string>invtrapezium</string>
		<string>invtriangle</string>
		<string>larrow</string>
		<string>lpromoter</string>
		<string>Mcircle</string>
		<string>Mdiamond</string>
		<string>Msquare</string>
		<string>none</string>
		<string>note</string>
		<string>noverhang</string>
		<string>octagon</string>
		<string>oval</string>
		<string>parallelogram</string>
		<string>pentagon</string>
		<string>plain</string>
		<string>plaintext</string>
		<string>point</string>
		<string>polygon</string>
		<string>primersite</string>
		<string>promoter</string>
		<string>proteasesite</string>
		<string>proteinstab</string>
		<string>rarrow</string>
		<string>rect</string>
		<string>rectangle</string>
		<string>restrictionsite</string>
		<string>ribosite</string>
		<string>rnastab</string>
		<string>rpromoter</string>
		<string>septagon</string>
		<string>signature</string>
		<string>square</string>
		<string>star</string>
		<string>tab</string>
		<string>terminator</string>
		<string>threepoverhang</string>
		<string>trapezium</string>
		<string>triangle</string>
		<string>tripleoctagon</string>
		<string>underline</string>
		<string>utr</string>

		<string>record</string>
		<string>Mrecord</string>

		<string>filled</string>
		<string>invisible</string>
		<string>diagonals</string>
		<string>rounded</string>
		<string>dashed</string>
		<string>dotted</string>
		<string>solid</string>
		<string>bold</string>

		<string>tapered</string>
		<string>striped</string>
		<string>wedged</string>
		<string>radial</string>

		<string>box</string>
		<string>lbox</string>
		<string>rbox</string>
		<string>obox</string>
		<string>olbox</string>
		<string>orbox</string>
		<string>crow</string>
		<string>lcrow</string>
		<string>rcrow</string>
		<string>diamond</string>
		<string>ldiamond</string>
		<string>rdiamond</string>
		<string>odiamond</string>
		<string>oldiamond</string>
		<string>ordiamond</string>
		<string>dot</string>
		<string>odot</string>
		<string>inv</string>
		<string>linv</string>
		<string>rinv</string>
		<string>oinv</string>
		<string>olinv</string>
		<string>orinv</string>
		<string>none</string>
		<string>normal</string>
		<string>lnormal</string>
		<string>rnormal</string>
		<string>onormal</string>
		<string>olnormal</string>
		<string>ornormal</string>
		<string>tee</string>
		<string>ltee</string>
		<string>rtee</string>
		<string>vee</string>
		<string>lvee</string>
		<string>rvee</string>
		<string>curve</string>
		<string>lcurve</string>
		<string>rcurve</string>
		<string>icurve</string>
		<string>licurve</string>
		<string>ricurve</string>

		<string>none</string>

		<string>local</string>
		<string>global</string>

		<string>forward</string>
		<string>back</string>
		<string>both</string>

		<string>breadthfirst</string>
		<string>nodesfirst</string>
		<string>edgesfirst</string>

		<string>clust</string>

		<string>BL</string>
		<string>BR</string>
		<string>TL</string>
		<string>TR</string>
		<string>RB</string>
		<string>RT</string>
		<string>LB</string>
		<string>LT</string>

		<string>normal</string>
		<string>fast</string>

		<string>TB</string>
		<string>LR</string>
		<string>BT</string>
		<string>RL</string>

		<string>same</string>
		<string>min</string>
		<string>source</string>
		<string>max</string>
		<string>sink</string>

		<string>avg_dist</string>
		<string>graph_dist</string>
		<string>power_dist</string>
		<string>rng</string>
		<string>spring</string>
		<string>triangle</string>

		<string>regular</string>
		<string>self</string>
		<string>random</string>

		<string>aliceblue</string>
		<string>antiquewhite</string>
		<string>antiquewhite1</string>
		<string>antiquewhite2</string>
		<string>antiquewhite3</string>
		<string>antiquewhite4</string>
		<string>aqua</string>
		<string>aquamarine</string>
		<string>aquamarine1</string>
		<string>aquamarine2</string>
		<string>aquamarine3</string>
		<string>aquamarine4</string>
		<string>azure</string>
		<string>azure1</string>
		<string>azure2</string>
		<string>azure3</string>
		<string>azure4</string>
		<string>beige</string>
		<string>bisque</string>
		<string>bisque1</string>
		<string>bisque2</string>
		<string>bisque3</string>
		<string>bisque4</string>
		<string>black</string>
		<string>blanchedalmond</string>
		<string>blue</string>
		<string>blue1</string>
		<string>blue2</string>
		<string>blue3</string>
		<string>blue4</string>
		<string>blueviolet</string>
		<string>brown</string>
		<string>brown1</string>
		<string>brown2</string>
		<string>brown3</string>
		<string>brown4</string>
		<string>burlywood</string>
		<string>burlywood1</string>
		<string>burlywood2</string>
		<string>burlywood3</string>
		<string>burlywood4</string>
		<string>cadetblue</string>
		<string>cadetblue1</string>
		<string>cadetblue2</string>
		<string>cadetblue3</string>
		<string>cadetblue4</string>
		<string>chartreuse</string>
		<string>chartreuse1</string>
		<string>chartreuse2</string>
		<string>chartreuse3</string>
		<string>chartreuse4</string>
		<string>chocolate</string>
		<string>chocolate1</string>
		<string>chocolate2</string>
		<string>chocolate3</string>
		<string>chocolate4</string>
		<string>coral</string>
		<string>coral1</string>
		<string>coral2</string>
		<string>coral3</string>
		<string>coral4</string>
		<string>cornflowerblue</string>
		<string>cornsilk</string>
		<string>cornsilk1</string>
		<string>cornsilk2</string>
		<string>cornsilk3</string>
		<string>cornsilk4</string>
		<string>crimson</string>
		<string>cyan</string>
		<string>cyan1</string>
		<string>cyan2</string>
		<string>cyan3</string>
		<string>cyan4</string>
		<string>darkblue</string>
		<string>darkcyan</string>
		<string>darkgoldenrod</string>
		<string>darkgoldenrod1</string>
		<string>darkgoldenrod2</string>
		<string>darkgoldenrod3</string>
		<string>darkgoldenrod4</string>
		<string>darkgray</string>
		<string>darkgreen</string>
		<string>darkgrey</string>
		<string>darkkhaki</string>
		<string>darkmagenta</string>
		<string>darkolivegreen</string>
		<string>darkolivegreen1</string>
		<string>darkolivegreen2</string>
		<string>darkolivegreen3</string>
		<string>darkolivegreen4</string>
		<string>darkorange</string>
		<string>darkorange1</string>
		<string>darkorange2</string>
		<string>darkorange3</string>
		<string>darkorange4</string>
		<string>darkorchid</string>
		<string>darkorchid1</string>
		<string>darkorchid2</string>
		<string>darkorchid3</string>
		<string>darkorchid4</string>
		<string>darkred</string>
		<string>darksalmon</string>
		<string>darkseagreen</string>
		<string>darkseagreen1</string>
		<string>darkseagreen2</string>
		<string>darkseagreen3</string>
		<string>darkseagreen4</string>
		<string>darkslateblue</string>
		<string>darkslategray</string>
		<string>darkslategray1</string>
		<string>darkslategray2</string>
		<string>darkslategray3</string>
		<string>darkslategray4</string>
		<string>darkslategrey</string>
		<string>darkturquoise</string>
		<string>darkviolet</string>
		<string>deeppink</string>
		<string>deeppink1</string>
		<string>deeppink2</string>
		<string>deeppink3</string>
		<string>deeppink4</string>
		<string>deepskyblue</string>
		<string>deepskyblue1</string>
		<string>deepskyblue2</string>
		<string>deepskyblue3</string>
		<string>deepskyblue4</string>
		<string>dimgray</string>
		<string>dimgrey</string>
		<string>dodgerblue</string>
		<string>dodgerblue1</string>
		<string>dodgerblue2</string>
		<string>dodgerblue3</string>
		<string>dodgerblue4</string>
		<string>firebrick</string>
		<string>firebrick1</string>
		<string>firebrick2</string>
		<string>firebrick3</string>
		<string>firebrick4</string>
		<string>floralwhite</string>
		<string>forestgreen</string>
		<string>fuchsia</string>
		<string>gainsboro</string>
		<string>ghostwhite</string>
		<string>gold</string>
		<string>gold1</string>
		<string>gold2</string>
		<string>gold3</string>
		<string>gold4</string>
		<string>goldenrod</string>
		<string>goldenrod1</string>
		<string>goldenrod2</string>
		<string>goldenrod3</string>
		<string>goldenrod4</string>
		<string>gray</string>
		<string>gray0</string>
		<string>gray1</string>
		<string>gray10</string>
		<string>gray100</string>
		<string>gray11</string>
		<string>gray12</string>
		<string>gray13</string>
		<string>gray14</string>
		<string>gray15</string>
		<string>gray16</string>
		<string>gray17</string>
		<string>gray18</string>
		<string>gray19</string>
		<string>gray2</string>
		<string>gray20</string>
		<string>gray21</string>
		<string>gray22</string>
		<string>gray23</string>
		<string>gray24</string>
		<string>gray25</string>
		<string>gray26</string>
		<string>gray27</string>
		<string>gray28</string>
		<string>gray29</string>
		<string>gray3</string>
		<string>gray30</string>
		<string>gray31</string>
		<string>gray32</string>
		<string>gray33</string>
		<string>gray34</string>
		<string>gray35</string>
		<string>gray36</string>
		<string>gray37</string>
		<string>gray38</string>
		<string>gray39</string>
		<string>gray4</string>
		<string>gray40</string>
		<string>gray41</string>
		<string>gray42</string>
		<string>gray43</string>
		<string>gray44</string>
		<string>gray45</string>
		<string>gray46</string>
		<string>gray47</string>
		<string>gray48</string>
		<string>gray49</string>
		<string>gray5</string>
		<string>gray50</string>
		<string>gray51</string>
		<string>gray52</string>
		<string>gray53</string>
		<string>gray54</string>
		<string>gray55</string>
		<string>gray56</string>
		<string>gray57</string>
		<string>gray58</string>
		<string>gray59</string>
		<string>gray6</string>
		<string>gray60</string>
		<string>gray61</string>
		<string>gray62</string>
		<string>gray63</string>
		<string>gray64</string>
		<string>gray65</string>
		<string>gray66</string>
		<string>gray67</string>
		<string>gray68</string>
		<string>gray69</string>
		<string>gray7</string>
		<string>gray70</string>
		<string>gray71</string>
		<string>gray72</string>
		<string>gray73</string>
		<string>gray74</string>
		<string>gray75</string>
		<string>gray76</string>
		<string>gray77</string>
		<string>gray78</string>
		<string>gray79</string>
		<string>gray8</string>
		<string>gray80</string>
		<string>gray81</string>
		<string>gray82</string>
		<string>gray83</string>
		<string>gray84</string>
		<string>gray85</string>
		<string>gray86</string>
		<string>gray87</string>
		<string>gray88</string>
		<string>gray89</string>
		<string>gray9</string>
		<string>gray90</string>
		<string>gray91</string>
		<string>gray92</string>
		<string>gray93</string>
		<string>gray94</string>
		<string>gray95</string>
		<string>gray96</string>
		<string>gray97</string>
		<string>gray98</string>
		<string>gray99</string>
		<string>green</string>
		<string>green1</string>
		<string>green2</string>
		<string>green3</string>
		<string>green4</string>
		<string>greenyellow</string>
		<string>grey</string>
		<string>grey0</string>
		<string>grey1</string>
		<string>grey10</string>
		<string>grey100</string>
		<string>grey11</string>
		<string>grey12</string>
		<string>grey13</string>
		<string>grey14</string>
		<string>grey15</string>
		<string>grey16</string>
		<string>grey17</string>
		<string>grey18</string>
		<string>grey19</string>
		<string>grey2</string>
		<string>grey20</string>
		<string>grey21</string>
		<string>grey22</string>
		<string>grey23</string>
		<string>grey24</string>
		<string>grey25</string>
		<string>grey26</string>
		<string>grey27</string>
		<string>grey28</string>
		<string>grey29</string>
		<string>grey3</string>
		<string>grey30</string>
		<string>grey31</string>
		<string>grey32</string>
		<string>grey33</string>
		<string>grey34</string>
		<string>grey35</string>
		<string>grey36</string>
		<string>grey37</string>
		<string>grey38</string>
		<string>grey39</string>
		<string>grey4</string>
		<string>grey40</string>
		<string>grey41</string>
		<string>grey42</string>
		<string>grey43</string>
		<string>grey44</string>
		<string>grey45</string>
		<string>grey46</string>
		<string>grey47</string>
		<string>grey48</string>
		<string>grey49</string>
		<string>grey5</string>
		<string>grey50</string>
		<string>grey51</string>
		<string>grey52</string>
		<string>grey53</string>
		<string>grey54</string>
		<string>grey55</string>
		<string>grey56</string>
		<string>grey57</string>
		<string>grey58</string>
		<string>grey59</string>
		<string>grey6</string>
		<string>grey60</string>
		<string>grey61</string>
		<string>grey62</string>
		<string>grey63</string>
		<string>grey64</string>
		<string>grey65</string>
		<string>grey66</string>
		<string>grey67</string>
		<string>grey68</string>
		<string>grey69</string>
		<string>grey7</string>
		<string>grey70</string>
		<string>grey71</string>
		<string>grey72</string>
		<string>grey73</string>
		<string>grey74</string>
		<string>grey75</string>
		<string>grey76</string>
		<string>grey77</string>
		<string>grey78</string>
		<string>grey79</string>
		<string>grey8</string>
		<string>grey80</string>
		<string>grey81</string>
		<string>grey82</string>
		<string>grey83</string>
		<string>grey84</string>
		<string>grey85</string>
		<string>grey86</string>
		<string>grey87</string>
		<string>grey88</string>
		<string>grey89</string>
		<string>grey9</string>
		<string>grey90</string>
		<string>grey91</string>
		<string>grey92</string>
		<string>grey93</string>
		<string>grey94</string>
		<string>grey95</string>
		<string>grey96</string>
		<string>grey97</string>
		<string>grey98</string>
		<string>grey99</string>
		<string>honeydew</string>
		<string>honeydew1</string>
		<string>honeydew2</string>
		<string>honeydew3</string>
		<string>honeydew4</string>
		<string>hotpink</string>
		<string>hotpink1</string>
		<string>hotpink2</string>
		<string>hotpink3</string>
		<string>hotpink4</string>
		<string>indianred</string>
		<string>indianred1</string>
		<string>indianred2</string>
		<string>indianred3</string>
		<string>indianred4</string>
		<string>indigo</string>
		<string>invis</string>
		<string>ivory</string>
		<string>ivory1</string>
		<string>ivory2</string>
		<string>ivory3</string>
		<string>ivory4</string>
		<string>khaki</string>
		<string>khaki1</string>
		<string>khaki2</string>
		<string>khaki3</string>
		<string>khaki4</string>
		<string>lavender</string>
		<string>lavenderblush</string>
		<string>lavenderblush1</string>
		<string>lavenderblush2</string>
		<string>lavenderblush3</string>
		<string>lavenderblush4</string>
		<string>lawngreen</string>
		<string>lemonchiffon</string>
		<string>lemonchiffon1</string>
		<string>lemonchiffon2</string>
		<string>lemonchiffon3</string>
		<string>lemonchiffon4</string>
		<string>lightblue</string>
		<string>lightblue1</string>
		<string>lightblue2</string>
		<string>lightblue3</string>
		<string>lightblue4</string>
		<string>lightcoral</string>
		<string>lightcyan</string>
		<string>lightcyan1</string>
		<string>lightcyan2</string>
		<string>lightcyan3</string>
		<string>lightcyan4</string>
		<string>lightgoldenrod</string>
		<string>lightgoldenrod1</string>
		<string>lightgoldenrod2</string>
		<string>lightgoldenrod3</string>
		<string>lightgoldenrod4</string>
		<string>lightgoldenrodyellow</string>
		<string>lightgray</string>
		<string>lightgreen</string>
		<string>lightgrey</string>
		<string>lightpink</string>
		<string>lightpink1</string>
		<string>lightpink2</string>
		<string>lightpink3</string>
		<string>lightpink4</string>
		<string>lightsalmon</string>
		<string>lightsalmon1</string>
		<string>lightsalmon2</string>
		<string>lightsalmon3</string>
		<string>lightsalmon4</string>
		<string>lightseagreen</string>
		<string>lightskyblue</string>
		<string>lightskyblue1</string>
		<string>lightskyblue2</string>
		<string>lightskyblue3</string>
		<string>lightskyblue4</string>
		<string>lightslateblue</string>
		<string>lightslategray</string>
		<string>lightslategrey</string>
		<string>lightsteelblue</string>
		<string>lightsteelblue1</string>
		<string>lightsteelblue2</string>
		<string>lightsteelblue3</string>
		<string>lightsteelblue4</string>
		<string>lightyellow</string>
		<string>lightyellow1</string>
		<string>lightyellow2</string>
		<string>lightyellow3</string>
		<string>lightyellow4</string>
		<string>lime</string>
		<string>limegreen</string>
		<string>linen</string>
		<string>magenta</string>
		<string>magenta1</string>
		<string>magenta2</string>
		<string>magenta3</string>
		<string>magenta4</string>
		<string>maroon</string>
		<string>maroon1</string>
		<string>maroon2</string>
		<string>maroon3</string>
		<string>maroon4</string>
		<string>mediumaquamarine</string>
		<string>mediumblue</string>
		<string>mediumorchid</string>
		<string>mediumorchid1</string>
		<string>mediumorchid2</string>
		<string>mediumorchid3</string>
		<string>mediumorchid4</string>
		<string>mediumpurple</string>
		<string>mediumpurple1</string>
		<string>mediumpurple2</string>
		<string>mediumpurple3</string>
		<string>mediumpurple4</string>
		<string>mediumseagreen</string>
		<string>mediumslateblue</string>
		<string>mediumspringgreen</string>
		<string>mediumturquoise</string>
		<string>mediumvioletred</string>
		<string>midnightblue</string>
		<string>mintcream</string>
		<string>mistyrose</string>
		<string>mistyrose1</string>
		<string>mistyrose2</string>
		<string>mistyrose3</string>
		<string>mistyrose4</string>
		<string>moccasin</string>
		<string>navajowhite</string>
		<string>navajowhite1</string>
		<string>navajowhite2</string>
		<string>navajowhite3</string>
		<string>navajowhite4</string>
		<string>navy</string>
		<string>navyblue</string>
		<string>none</string>
		<string>oldlace</string>
		<string>olive</string>
		<string>olivedrab</string>
		<string>olivedrab1</string>
		<string>olivedrab2</string>
		<string>olivedrab3</string>
		<string>olivedrab4</string>
		<string>orange</string>
		<string>orange1</string>
		<string>orange2</string>
		<string>orange3</string>
		<string>orange4</string>
		<string>orangered</string>
		<string>orangered1</string>
		<string>orangered2</string>
		<string>orangered3</string>
		<string>orangered4</string>
		<string>orchid</string>
		<string>orchid1</string>
		<string>orchid2</string>
		<string>orchid3</string>
		<string>orchid4</string>
		<string>palegoldenrod</string>
		<string>palegreen</string>
		<string>palegreen1</string>
		<string>palegreen2</string>
		<string>palegreen3</string>
		<string>palegreen4</string>
		<string>paleturquoise</string>
		<string>paleturquoise1</string>
		<string>paleturquoise2</string>
		<string>paleturquoise3</string>
		<string>paleturquoise4</string>
		<string>palevioletred</string>
		<string>palevioletred1</string>
		<string>palevioletred2</string>
		<string>palevioletred3</string>
		<string>palevioletred4</string>
		<string>papayawhip</string>
		<string>peachpuff</string>
		<string>peachpuff1</string>
		<string>peachpuff2</string>
		<string>peachpuff3</string>
		<string>peachpuff4</string>
		<string>peru</string>
		<string>pink</string>
		<string>pink1</string>
		<string>pink2</string>
		<string>pink3</string>
		<string>pink4</string>
		<string>plum</string>
		<string>plum1</string>
		<string>plum2</string>
		<string>plum3</string>
		<string>plum4</string>
		<string>powderblue</string>
		<string>purple</string>
		<string>purple1</string>
		<string>purple2</string>
		<string>purple3</string>
		<string>purple4</string>
		<string>rebeccapurple</string>
		<string>red</string>
		<string>red1</string>
		<string>red2</string>
		<string>red3</string>
		<string>red4</string>
		<string>rosybrown</string>
		<string>rosybrown1</string>
		<string>rosybrown2</string>
		<string>rosybrown3</string>
		<string>rosybrown4</string>
		<string>royalblue</string>
		<string>royalblue1</string>
		<string>royalblue2</string>
		<string>royalblue3</string>
		<string>royalblue4</string>
		<string>saddlebrown</string>
		<string>salmon</string>
		<string>salmon1</string>
		<string>salmon2</string>
		<string>salmon3</string>
		<string>salmon4</string>
		<string>sandybrown</string>
		<string>seagreen</string>
		<string>seagreen1</string>
		<string>seagreen2</string>
		<string>seagreen3</string>
		<string>seagreen4</string>
		<string>seashell</string>
		<string>seashell1</string>
		<string>seashell2</string>
		<string>seashell3</string>
		<string>seashell4</string>
		<string>sienna</string>
		<string>sienna1</string>
		<string>sienna2</string>
		<string>sienna3</string>
		<string>sienna4</string>
		<string>silver</string>
		<string>skyblue</string>
		<string>skyblue1</string>
		<string>skyblue2</string>
		<string>skyblue3</string>
		<string>skyblue4</string>
		<string>slateblue</string>
		<string>slateblue1</string>
		<string>slateblue2</string>
		<string>slateblue3</string>
		<string>slateblue4</string>
		<string>slategray</string>
		<string>slategray1</string>
		<string>slategray2</string>
		<string>slategray3</string>
		<string>slategray4</string>
		<string>slategrey</string>
		<string>snow</string>
		<string>snow1</string>
		<string>snow2</string>
		<string>snow3</string>
		<string>snow4</string>
		<string>springgreen</string>
		<string>springgreen1</string>
		<string>springgreen2</string>
		<string>springgreen3</string>
		<string>springgreen4</string>
		<string>steelblue</string>
		<string>steelblue1</string>
		<string>steelblue2</string>
		<string>steelblue3</string>
		<string>steelblue4</string>
		<string>tan</string>
		<string>tan1</string>
		<string>tan2</string>
		<string>tan3</string>
		<string>tan4</string>
		<string>teal</string>
		<string>thistle</string>
		<string>thistle1</string>
		<string>thistle2</string>
		<string>thistle3</string>
		<string>thistle4</string>
		<string>tomato</string>
		<string>tomato1</string>
		<string>tomato2</string>
		<string>tomato3</string>
		<string>tomato4</string>
		<string>transparent</string>
		<string>turquoise</string>
		<string>turquoise1</string>
		<string>turquoise2</string>
		<string>turquoise3</string>
		<string>turquoise4</string>
		<string>violet</string>
		<string>violetred</string>
		<string>violetred1</string>
		<string>violetred2</string>
		<string>violetred3</string>
		<string>violetred4</string>
		<string>webgray</string>
		<string>webgreen</string>
		<string>webgrey</string>
		<string>webmaroon</string>
		<string>webpurple</string>
		<string>wheat</string>
		<string>wheat1</string>
		<string>wheat2</string>
		<string>wheat3</string>
		<string>wheat4</string>
		<string>white</string>
		<string>whitesmoke</string>
		<string>x11gray</string>
		<string>x11green</string>
		<string>x11grey</string>
		<string>x11maroon</string>
		<string>x11purple</string>
		<string>yellow</string>
		<string>yellow1</string>
		<string>yellow2</string>
		<string>yellow3</string>
		<string>yellow4</string>
		<string>yellowgreen</string>

		<string>aliceblue</string>
		<string>antiquewhite</string>
		<string>aqua</string>
		<string>aquamarine</string>
		<string>azure</string>
		<string>beige</string>
		<string>bisque</string>
		<string>black</string>
		<string>blanchedalmond</string>
		<string>blue</string>
		<string>blueviolet</string>
		<string>brown</string>
		<string>burlywood</string>
		<string>cadetblue</string>
		<string>chartreuse</string>
		<string>chocolate</string>
		<string>coral</string>
		<string>cornflowerblue</string>
		<string>cornsilk</string>
		<string>crimson</string>
		<string>cyan</string>
		<string>darkblue</string>
		<string>darkcyan</string>
		<string>darkgoldenrod</string>
		<string>darkgray</string>
		<string>darkgreen</string>
		<string>darkgrey</string>
		<string>darkkhaki</string>
		<string>darkmagenta</string>
		<string>darkolivegreen</string>
		<string>darkorange</string>
		<string>darkorchid</string>
		<string>darkred</string>
		<string>darksalmon</string>
		<string>darkseagreen</string>
		<string>darkslateblue</string>
		<string>darkslategray</string>
		<string>darkslategrey</string>
		<string>darkturquoise</string>
		<string>darkviolet</string>
		<string>deeppink</string>
		<string>deepskyblue</string>
		<string>dimgray</string>
		<string>dimgrey</string>
		<string>dodgerblue</string>
		<string>firebrick</string>
		<string>floralwhite</string>
		<string>forestgreen</string>
		<string>fuchsia</string>
		<string>gainsboro</string>
		<string>ghostwhite</string>
		<string>gold</string>
		<string>goldenrod</string>
		<string>gray</string>
		<string>grey</string>
		<string>green</string>
		<string>greenyellow</string>
		<string>honeydew</string>
		<string>hotpink</string>
		<string>indianred</string>
		<string>indigo</string>
		<string>ivory</string>
		<string>khaki</string>
		<string>lavender</string>
		<string>lavenderblush</string>
		<string>lawngreen</string>
		<string>lemonchiffon</string>
		<string>lightblue</string>
		<string>lightcoral</string>
		<string>lightcyan</string>
		<string>lightgoldenrodyellow</string>
		<string>lightgray</string>
		<string>lightgreen</string>
		<string>lightgrey</string>
		<string>lightpink</string>
		<string>lightsalmon</string>
		<string>lightseagreen</string>
		<string>lightskyblue</string>
		<string>lightslategray</string>
		<string>lightslategrey</string>
		<string>lightsteelblue</string>
		<string>lightyellow</string>
		<string>lime</string>
		<string>limegreen</string>
		<string>linen</string>
		<string>magenta</string>
		<string>maroon</string>
		<string>mediumaquamarine</string>
		<string>mediumblue</string>
		<string>mediumorchid</string>
		<string>mediumpurple</string>
		<string>mediumseagreen</string>
		<string>mediumslateblue</string>
		<string>mediumspringgreen</string>
		<string>mediumturquoise</string>
		<string>mediumvioletred</string>
		<string>midnightblue</string>
		<string>mintcream</string>
		<string>mistyrose</string>
		<string>moccasin</string>
		<string>navajowhite</string>
		<string>navy</string>
		<string>oldlace</string>
		<string>olive</string>
		<string>olivedrab</string>
		<string>orange</string>
		<string>orangered</string>
		<string>orchid</string>
		<string>palegoldenrod</string>
		<string>palegreen</string>
		<string>paleturquoise</string>
		<string>palevioletred</string>
		<string>papayawhip</string>
		<string>peachpuff</string>
		<string>peru</string>
		<string>pink</string>
		<string>plum</string>
		<string>powderblue</string>
		<string>purple</string>
		<string>red</string>
		<string>rosybrown</string>
		<string>royalblue</string>
		<string>saddlebrown</string>
		<string>salmon</string>
		<string>sandybrown</string>
		<string>seagreen</string>
		<string>seashell</string>
		<string>sienna</string>
		<string>silver</string>
		<string>skyblue</string>
		<string>slateblue</string>
		<string>slategray</string>
		<string>slategrey</string>
		<string>snow</string>
		<string>springgreen</string>
		<string>steelblue</string>
		<string>tan</string>
		<string>teal</string>
		<string>thistle</string>
		<string>tomato</string>
		<string>turquoise</string>
		<string>violet</string>
		<string>wheat</string>
		<string>white</string>
		<string>whitesmoke</string>
		<string>yellow</string>
		<string>yellowgreen</string>

		<string>accent3</string>
		<string>accent4</string>
		<string>accent5</string>
		<string>accent6</string>
		<string>accent7</string>
		<string>accent8</string>
		<string>blues3</string>
		<string>blues4</string>
		<string>blues5</string>
		<string>blues6</string>
		<string>blues7</string>
		<string>blues8</string>
		<string>blues9</string>
		<string>brbg10</string>
		<string>brbg11</string>
		<string>brbg3</string>
		<string>brbg4</string>
		<string>brbg5</string>
		<string>brbg6</string>
		<string>brbg7</string>
		<string>brbg8</string>
		<string>brbg9</string>
		<string>bugn3</string>
		<string>bugn4</string>
		<string>bugn5</string>
		<string>bugn6</string>
		<string>bugn7</string>
		<string>bugn8</string>
		<string>bugn9</string>
		<string>bupu3</string>
		<string>bupu4</string>
		<string>bupu5</string>
		<string>bupu6</string>
		<string>bupu7</string>
		<string>bupu8</string>
		<string>bupu9</string>
		<string>dark23</string>
		<string>dark24</string>
		<string>dark25</string>
		<string>dark26</string>
		<string>dark27</string>
		<string>dark28</string>
		<string>gnbu3</string>
		<string>gnbu4</string>
		<string>gnbu5</string>
		<string>gnbu6</string>
		<string>gnbu7</string>
		<string>gnbu8</string>
		<string>gnbu9</string>
		<string>greens3</string>
		<string>greens4</string>
		<string>greens5</string>
		<string>greens6</string>
		<string>greens7</string>
		<string>greens8</string>
		<string>greens9</string>
		<string>greys3</string>
		<string>greys4</string>
		<string>greys5</string>
		<string>greys6</string>
		<string>greys7</string>
		<string>greys8</string>
		<string>greys9</string>
		<string>oranges3</string>
		<string>oranges4</string>
		<string>oranges5</string>
		<string>oranges6</string>
		<string>oranges7</string>
		<string>oranges8</string>
		<string>oranges9</string>
		<string>orrd3</string>
		<string>orrd4</string>
		<string>orrd5</string>
		<string>orrd6</string>
		<string>orrd7</string>
		<string>orrd8</string>
		<string>orrd9</string>
		<string>paired10</string>
		<string>paired11</string>
		<string>paired12</string>
		<string>paired3</string>
		<string>paired4</string>
		<string>paired5</string>
		<string>paired6</string>
		<string>paired7</string>
		<string>paired8</string>
		<string>paired9</string>
		<string>pastel13</string>
		<string>pastel14</string>
		<string>pastel15</string>
		<string>pastel16</string>
		<string>pastel17</string>
		<string>pastel18</string>
		<string>pastel19</string>
		<string>pastel23</string>
		<string>pastel24</string>
		<string>pastel25</string>
		<string>pastel26</string>
		<string>pastel27</string>
		<string>pastel28</string>
		<string>piyg10</string>
		<string>piyg11</string>
		<string>piyg3</string>
		<string>piyg4</string>
		<string>piyg5</string>
		<string>piyg6</string>
		<string>piyg7</string>
		<string>piyg8</string>
		<string>piyg9</string>
		<string>prgn10</string>
		<string>prgn11</string>
		<string>prgn3</string>
		<string>prgn4</string>
		<string>prgn5</string>
		<string>prgn6</string>
		<string>prgn7</string>
		<string>prgn8</string>
		<string>prgn9</string>
		<string>pubu3</string>
		<string>pubu4</string>
		<string>pubu5</string>
		<string>pubu6</string>
		<string>pubu7</string>
		<string>pubu8</string>
		<string>pubu9</string>
		<string>pubugn3</string>
		<string>pubugn4</string>
		<string>pubugn5</string>
		<string>pubugn6</string>
		<string>pubugn7</string>
		<string>pubugn8</string>
		<string>pubugn9</string>
		<string>puor10</string>
		<string>puor11</string>
		<string>puor3</string>
		<string>puor4</string>
		<string>puor5</string>
		<string>puor6</string>
		<string>puor7</string>
		<string>puor8</string>
		<string>puor9</string>
		<string>purd3</string>
		<string>purd4</string>
		<string>purd5</string>
		<string>purd6</string>
		<string>purd7</string>
		<string>purd8</string>
		<string>purd9</string>
		<string>purples3</string>
		<string>purples4</string>
		<string>purples5</string>
		<string>purples6</string>
		<string>purples7</string>
		<string>purples8</string>
		<string>purples9</string>
		<string>rdbu10</string>
		<string>rdbu11</string>
		<string>rdbu3</string>
		<string>rdbu4</string>
		<string>rdbu5</string>
		<string>rdbu6</string>
		<string>rdbu7</string>
		<string>rdbu8</string>
		<string>rdbu9</string>
		<string>rdgy10</string>
		<string>rdgy11</string>
		<string>rdgy3</string>
		<string>rdgy4</string>
		<string>rdgy5</string>
		<string>rdgy6</string>
		<string>rdgy7</string>
		<string>rdgy8</string>
		<string>rdgy9</string>
		<string>rdpu3</string>
		<string>rdpu4</string>
		<string>rdpu5</string>
		<string>rdpu6</string>
		<string>rdpu7</string>
		<string>rdpu8</string>
		<string>rdpu9</string>
		<string>rdylbu10</string>
		<string>rdylbu11</string>
		<string>rdylbu3</string>
		<string>rdylbu4</string>
		<string>rdylbu5</string>
		<string>rdylbu6</string>
		<string>rdylbu7</string>
		<string>rdylbu8</string>
		<string>rdylbu9</string>
		<string>rdylgn10</string>
		<string>rdylgn11</string>
		<string>rdylgn3</string>
		<string>rdylgn4</string>
		<string>rdylgn5</string>
		<string>rdylgn6</string>
		<string>rdylgn7</string>
		<string>rdylgn8</string>
		<string>rdylgn9</string>
		<string>reds3</string>
		<string>reds4</string>
		<string>reds5</string>
		<string>reds6</string>
		<string>reds7</string>
		<string>reds8</string>
		<string>reds9</string>
		<string>set13</string>
		<string>set14</string>
		<string>set15</string>
		<string>set16</string>
		<string>set17</string>
		<string>set18</string>
		<string>set19</string>
		<string>set23</string>
		<string>set24</string>
		<string>set25</string>
		<string>set26</string>
		<string>set27</string>
		<string>set28</string>
		<string>set310</string>
		<string>set311</string>
		<string>set312</string>
		<string>set33</string>
		<string>set34</string>
		<string>set35</string>
		<string>set36</string>
		<string>set37</string>
		<string>set38</string>
		<string>set39</string>
		<string>spectral10</string>
		<string>spectral11</string>
		<string>spectral3</string>
		<string>spectral4</string>
		<string>spectral5</string>
		<string>spectral6</string>
		<string>spectral7</string>
		<string>spectral8</string>
		<string>spectral9</string>
		<string>ylgn3</string>
		<string>ylgn4</string>
		<string>ylgn5</string>
		<string>ylgn6</string>
		<string>ylgn7</string>
		<string>ylgn8</string>
		<string>ylgn9</string>
		<string>ylgnbu3</string>
		<string>ylgnbu4</string>
		<string>ylgnbu5</string>
		<string>ylgnbu6</string>
		<string>ylgnbu7</string>
		<string>ylgnbu8</string>
		<string>ylgnbu9</string>
		<string>ylorbr3</string>
		<string>ylorbr4</string>
		<string>ylorbr5</string>
		<string>ylorbr6</string>
		<string>ylorbr7</string>
		<string>ylorbr8</string>
		<string>ylorbr9</string>
		<string>ylorrd3</string>
		<string>ylorrd4</string>
		<string>ylorrd5</string>
		<string>ylorrd6</string>
		<string>ylorrd7</string>
		<string>ylorrd8</string>
		<string>ylorrd9</string>
	</array>

	<key>BBLMCommentLineDefault</key>
	<string>//</string>

	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>

	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>

	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\?!</string>

		<key>String Pattern</key>
		<string><![CDATA[
		(?x:
			("(\\"|[^"\r]|\\\r)*") | (?# Double-quote)
			('(\\'|[^'\r]|\\\r)*') (?# Single-quote)
		)
		]]></string>

		<key>Comment Pattern</key>
		<string><![CDATA[
		(?x:
			(\/\/.*?$) | (?# Line comment)
			(?s:\/\*.+?\*\/) (?# Block comment)
		)
		]]></string>


		<key>Function Pattern</key>
		<string><![CDATA[
		(?x:
				(?P<leadspace>^\s*)
				(?P<function>
						(strict\s*)?(di|sub)?graph\s+
						(?P<function_name>
								[a-zA-Z0-9_!?]+
						)
						\s*{
						(?s:.+?)
						\n(?P=leadspace)}
				)
		)
		]]></string>
		<key>Skip Pattern</key>
		<string><![CDATA[
		(?x:
				(?P>comment) |
				(?P>string)
		)
		]]></string>

	</dict>
</dict>
</plist>
